@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
}

#container {
    width: 100%;
}

/* 일주일 일정 CSS */
.showtimeform {
    margin: auto;
    width: 700px;
}

.calendarBtn {
    width: 90px;
    height: 70px;
    padding: 10px;
    border: 2px solid #262626;
    border-radius: 10px;
    background: white;
    color: #595959;
    /*font-family: "Noto Sans KR", sans-serif;*/
    cursor: pointer;
}

.calendarBtn:focus {
    border: 2px solid #262626;
    background-color: #262626;
    color: white;
}

.monthdayofweekform {
    float: left;
}

a {
    text-decoration: none;
    /*color : #595959;*/
}

.dayfont {
    padding: 0;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    /*color : #595959;*/
}

/* 구분선 */
.boldhr {
    width: auto;
    border: 2px solid #262626;
}

.thinhr {
    width: auto;
    border: 1px solid #262626;
}

/* 설명글 */
.infotext {
    color: #FF243E;
}

/* 영화 내용 */
.timetableform {
    margin-left: 20px;
}

/* 전체 이용가 */
.age_gradeAll {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #03953F;
    color: white;
}

/* 12세 이용가 */
.age_grade12 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #1468B3;
    color: white;
}

/* 15세 이용가 */
.age_grade15 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #FDB934;
    color: white;
}

/* 19세 이용가 */
.age_grade19 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #B0063A;
    color: white;
}

/* 영화 상영 시간표 */
.goReserveBtn {
    width: 80px;
    height: 60px;
    padding: 10px;
    border: 1px solid #595959;
    border-radius: 10px;
    background: white;
    color: #262626;
    font-weight: bold;
    /*font-family: "Noto Sans KR", sans-serif;*/
    cursor: pointer;
}

/* 영화 제목 */
.movie_title {
    margin: 0;
    margin-right: 5px;
    padding: 0;
    float: left;
}

/* 상영중 */
.isscreenfont {
    margin: 0;
    padding: 0;
    border: 1px solid royalblue;
}

/* 잔여 좌석 */
.seatsfont {
    padding: 0;
    margin-left: 5px;
}

.redbox {
    margin-top: 20px;
    background-color: #e60012;
    color: white;
    text-align: center;
}

.reservebox {
    margin-top: 10px;
    margin-left: 20px;
    margin-right:20px;
    padding: 10px;
}

.reserve {
    margin-left: 400px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e60012;
    color: #ffffff;
}

.reserve:hover {
    color: #e60012;
    background-color: #ffffff;
    border: #E60012 1px solid;
}