.wrapper {
    width: 930px;
    margin: 0px auto;
}

/* 검색 */
.select {
    width: 110px;
    height: 35px;
    margin-left: 30px;
}

.inputBox {
    border: solid 1px black;
    border-radius: 3px;
    width: 340px;
    height: 35px;
}

#search {
    border: none;
    width: 300px;
    height: 30px;
}

#searchBtn {
    border: none;
    background-color: white;
}

#searchImg {
    width: 20px;
}

.result {
    margin-left: 20px;
    margin-bottom: 15px;
}

/* 영화 리스트 */
.list-block {
    width: 100%;
}

.dto-block {
    width: 300px;
    height: 415px;
    padding: 10px;
}

.moviePoster {
    margin-bottom: 15px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

#movieTitle {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

/* 연령 */
/* 전체 이용가 */
.age_gradeAll {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #03953F;
    color: white;
    display: inline-block;
}

/* 12세 이용가 */
.age_grade12 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #1468B3;
    color: white;
    display: inline-block;
}

/* 15세 이용가 */
.age_grade15 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #FDB934;
    color: white;
    display: inline-block;
}

/* 19세 이용가 */
.age_grade19 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #B0063A;
    color: white;
    display: inline-block;
}

/* 미정 */
.age_gradeNone {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #cccccc;
    color: white;
    display: inline-block;
}