.movieListBox {
    width: 920px;
    margin: 10px auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.movieBox {
    display: inline-block;
    width: 180px;
    height: 365px;
    padding: 5px;
    position: relative;
}

.moviePoster {
    width: 170px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#movieTitle {
    color: black;
    font-size: 16px;
    font-weight: 900;
}


/* 연령 */
/* 전체 이용가 */
.age_gradeAll {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #03953F;
    color: white;
    display: inline-block;
}

/* 12세 이용가 */
.age_grade12 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #1468B3;
    color: white;
    display: inline-block;
}

/* 15세 이용가 */
.age_grade15 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #FDB934;
    color: white;
    display: inline-block;
}

/* 19세 이용가 */
.age_grade19 {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #B0063A;
    color: white;
    display: inline-block;
}

/* 미정 */
.age_gradeNone {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #cccccc;
    color: white;
    display: inline-block;
}